*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-size: 2rem;
    font-family: 'Kumbh Sans';
     background-image: 
     url(../images/bg-pattern-top.svg),
     url(../images/bg-pattern-bottom.svg); 
    background-color:  hwb(185 10% 32%);
    background-repeat: no-repeat, no-repeat; 
    background-position:  right 50vw bottom 50vh, left 48vw top 50vh;  
    
 }

.main-container{
    max-width: 30rem;
    min-height :35vh;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    
}
.pattern-card{
    width:30rem;
    border-radius: 5% 5% 0 0;

}
.victor{
    position: relative;
    bottom:3rem;
    border-radius: 50%; 
    border: 5px solid white;
}
h1{
    position: relative;
    bottom: 2.5rem;
    font-weight: 700;
}
.gray{
    color:hsl(227, 10%, 46%);
    font-weight: 400;

}
.london{
    position: relative;
    bottom: 25px;
    color:hsl(227, 10%, 46%) ;
}


.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    border-top: 1px solid hsl(227, 10%, 46%, 0.1);
    padding-top: 2rem;

}
.grid span{
    font-weight: 700;
    font-size: 20px;
    position: relative;
   
}
.grid p{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size:13px;
    letter-spacing: 1.0px;
    margin-top: 0.5rem;
    
}

 .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2.5rem;
   
 }
.attribution a {
     color: hsl(228, 45%, 44%);
 }
 @media(max-width:960px){
    .main-container{
        max-width:24rem;
        
      
    }
    .pattern-card{
        max-width: 24rem;
    }
 }

